{#
/**
 * @file
 * Template for the timeline page.
 *
 *
 */
#}
{% set root_path = '.' %}
{% set img_path = root_path ~ '/assets/img' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="History of Drupal for the past 20 years.">
    <meta name="author" content="Vijaya Chandran Mani">
    <title>20 Years of Drupal History</title>
    <link rel="icon" href="{{ img_path }}/favicons/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ root_path }}/styles.css" media="all" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <img width="50" height="50" src="{{ img_path }}/logo.svg" /></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Drupal 20</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main">
    <section class="container mt-5">
        {%  for year, items in data %}
        <div class="year {{ year }}">
            <div class="timeline"></div>
            <div class="row align-items-center">
                <h4 class="btn mx-auto">{{ year }}</h4>
            </div>
            {%  for delta, item in items %}
            {% if delta % 2 == 0 %}<div class="row gx-5 gy-5">{% endif %}
            <div class="col-6{% if delta % 2 == 0 %} pt-5{% endif %}">
                <a href="#" title="View user profile." class="picture">
                    <img src="{{ img_path }}/{{ item.thumbnail }}" width="80" height="80" alt="profile picture">
                </a>
                <div class="item-card">
                    <h4 class="item-title">
                        <a href="{{ item.href }}" {{ item.href == "#" ? "" : 'target="_blank"' }} class="permalink">{{ item.title|raw }}</a>{% if item.version %} <span class="badge bg-primary">{{ item.version }}</span>{% endif %}
                    </h4>
                <div class="submitted">
                    on <time datetime="{{ item.date }}" data-created-date="{{ item.date is empty ? "" :  item.date|date("d M Y \\a\\t m:i") }}">{{ item.date|date("d M Y \\a\\t m:i") }}</time>
                </div>
                <div class="description shadow p-3 mb-5 border bg-light shadow-md"><blockquote>{{ item.description|raw }}</blockquote></div>
                </div>
            </div>
            {% if delta % 2 == 1 or (items|length %2 ==1 and delta == items|length - 1) %}</div>{% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    <section class="container">
        <div class="row justify-content-around">
            <div class="col-3">
                <figure class="figure">
                    <img src="{{ img_path }}/origin.jpg" class="figure-img img-fluid rounded" alt="" />
                    <figcaption class="figure-caption text-start">Credit: https://dri.es</figcaption>
                </figure>
            </div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
