{#
/**
 * @file
 * Template for the timeline page.
 *
 *
 */
#}
{% set root_path = '.' %}
{% set img_path = root_path ~ '/assets/img' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="History of Drupal for the past 20 years.">
    <meta name="author" content="Vijaya Chandran Mani">
    <title>20 Years of Drupal History</title>
    <link rel="icon" href="{{ img_path }}/favicons/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ root_path }}/styles.css" media="all" />
</head>
<body  id="main-content">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <div class="container-fluid">
            <a class="navbar-brand" href="#main-content"> <img width="50" height="50" src="{{ img_path }}/logo.svg" /></a>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <section class="row my-5">
        <h1 class="pb-3">Celebrating 20 years of Drupal</h1>
    </section>
    <section class="row">
        <div class="col">
            <div class="content">
                <h3 class="fs-4" id="summary-problem-motivation">Problem/Motivation</h3>
                <p class="fw-lighter">Drupal 1.0 was released 15 Jan 2001. 15 Jan 2021 is the 20th anniversary. People want to mark this milestone by looking back on those 20 years. This visualization is one of many celebration efforts.</p>
                <h3 class="fs-4" id="summary-proposed-resolution">Proposed resolution</h3>
                <p class="fw-lighter">Collect and highlight important milestones. Like the drupal community, this is not all about code, but code is relevant. Please consider events
                    that are about milestones that impacted the direction of Drupal: project decisions, documentation,
                    performance, accessibility, usability, testing, collaboration, educational events, leadership,
                    and community.</p>
                <p class="fw-lighter">Get the word out to acknowledge January 15 2021, Drupal's 20th anniversary. Use the hashtag <a href="https://twitter.com/search?q=%23CelebrateDrupal" target="_blank">#CelebrateDrupal</a></p>

                <ul class="links"><li class="add-event"><a href="https://github.com/weitzman/drupal-timeline/issues/new" target="_blank" title="Add a new memorable event.">Add new event</a></li></ul>
            </div>
            <h2 class="fs-4" class="title">Timeline</h2>
            {%  for year, items in data %}
                <div class="year {{ year }}">
                    <div class="timeline"></div>
                    <div class="item-year py-5">
                        <a href="#year-{{ year }}"><h4 id="year-{{ year }}" class="btn btn-success">{{ year }}</h4></a>
                    </div>
                    {%  for delta, item in items %}
                        <div class="item-card py-3" id="timeline-{{ item.hash }}">
                            <a href="{{ item.username is empty ? '#timeline-' ~ item.hash : item.profileUrl }}" title="View user profile." class="picture" target="{{ item.profileUrl is empty ? '_self' : '_blank' }}">
                                <img src="{{ item.avatar is empty ? img_path ~ '/default.png' : item.avatar }}" width="80" height="80" alt="profile picture">
                            </a>
                            <div class="item-card-desc">
                                <h4 class="item-title">
                                    <a href="#timeline-{{ item.hash }}" class="permalink">{{ item.title|raw }}</a>{% if item.version %} <span class="badge bg-primary">{{ item.version }}</span>{% endif %}
                                </h4>
                                <div class="submitted">
                                    by
                                    {% if item.username is empty %}
                                        Anonymous
                                    {% else %}
                                        <a href="{{ item.profileUrl }}" title="View user profile." target="_blank">{{ item.username }}</a>
                                    {% endif %}
                                    on <time datetime="{{ item.date }}" data-created-date="{{ item.date is empty ? "" :  item.date|date("d M Y \\a\\t m:i") }}">{{ item.date|date("d M Y") }}</time>
                                </div>
                                <div class="description p-3 bg-light"><blockquote>{{ item.description|raw }}</blockquote></div>
                                {% if item.href is not empty %}
                                    <ul class="links text-end">
                                        <li><a href="{{ item.href }}" target="_blank">Read more...</a></li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="mx-5" />
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% include 'tweets.html.twig' only %}
        </div>
    </section>
</main>
<footer class="bg-blue">
<div class="text-md-center py-2">Made with ❤️ by <a href="https://www.drupal.org/u/vijaycs85" target="_blank" class="text-decoration-underline" style="color: #FFF">vijaycs85</a> & <a href="https://www.drupal.org/u/moshe-weitzman" target="_blank" class="text-decoration-underline" style="color: #FFF">moshe</a></div>
</footer>
</body>
</html>
