<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drupal history</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .timeline {
            position: absolute;
            width: 10px;
            height: 100%;
            left: 50%;
            margin-left: -6px;
            z-index:-1;
            background-image:linear-gradient(180deg, #ffc107 0%, #ffc107 100%);
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Drupal 20</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
</header>
<main role="main">
    <section class="container">
        {%  for year, items in data %}
        <div class="year {{ year }}">
            <div class="timeline"></div>
            <div class="row align-items-center">
                <h4 class="btn btn-warning mx-auto" style="width: 200px;">{{ year }}</h4>
            </div>
            {%  for delta, item in items %}
            {% if delta % 2 == 0 %}<div class="row gx-5 gy-5">{% endif %}
            <div class="col-6{% if delta % 2 == 0 %} pt-5{% endif %}">
                <h4>{{ item.title|raw }}{% if item.version %} <span class="badge bg-primary">{{ item.version }}</span>{% endif %}</h4>
                <div class="shadow p-3 mb-5 border bg-light shadow-md">{{ item.description|raw }}</div>
            </div>
            {% if delta % 2 == 1 or (items|length %2 ==1 and delta == items|length - 1) %}</div>{% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
