{#
/**
 * @file
 * Template for the timeline page.
 *
 *
 */
#}
{% set root_path = '.' %}
{% set img_path = root_path ~ '/assets/img' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="History of Drupal for the past 20 years.">
    <meta name="author" content="Vijaya Chandran Mani">
    <title>20 Years of Drupal History</title>
    <link rel="icon" href="{{ img_path }}/favicons/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ root_path }}/styles.css" media="all" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <img width="50" height="50" src="{{ img_path }}/logo.svg" /></a>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <section class="row my-5">
        <h1 class="pb-3">Celebrating 20 years of Drupal</h1>
    </section>
    <section class="row">
        <div class="col-8">
            <div class="content">
                <h3 class="fs-4" id="summary-problem-motivation">Problem/Motivation</h3>
                <p>Notable events in Drupal's history.</p>
                <h3 class="fs-4" id="summary-proposed-resolution">Proposed resolution</h3>
                <p>TBC</p>
                <h3  class="fs-5" id="summary-remaining-tasks">Remaining tasks</h3>
                <p>TBC</p>
                <h3 class="fs-5" id="summary-ui-changes">User interface changes</h3>
                <p>TBC</p>
                <h3 class="fs-5" id="summary-api-changes">API changes</h3>
                <p>TBC</p>
                <h3 class="fs-5" id="summary-data-model-changes">Data model changes</h3>
                <p>TBC</p>
            </div>
            <h2 class="fs-4" class="title">Timeline</h2>
            {%  for year, items in data %}
                <div class="year {{ year }}">
                    <div class="timeline"></div>
                    <div class="item-year pt-5">
                        <h4 class="btn">{{ year }}</h4>
                    </div>
                    {%  for delta, item in items %}
                        <div class="item-card py-5" id="timeline-{{ item.hash }}">
                            <a href="{{ item.username is empty ? '#timeline-' ~ item.hash : item.profileUrl }}" title="View user profile." class="picture" target="{{ item.profileUrl is empty ? '_self' : '_blank' }}">
                                <img src="{{ item.avatar is empty ? img_path ~ '/default.png' : item.avatar }}" width="80" height="80" alt="profile picture">
                            </a>
                            <div class="item-card-desc">
                                <h4 class="item-title">
                                    <a href="#timeline-{{ item.hash }}" class="permalink">{{ item.title|raw }}</a>{% if item.version %} <span class="badge bg-primary">{{ item.version }}</span>{% endif %}
                                </h4>
                                <div class="submitted">
                                    by
                                    {% if item.username is empty %}
                                        Anonymous
                                    {% else %}
                                        <a href="{{ item.profileUrl }}" title="View user profile." target="_blank">{{ item.username }}</a>
                                    {% endif %}
                                    on <time datetime="{{ item.date }}" data-created-date="{{ item.date is empty ? "" :  item.date|date("d M Y \\a\\t m:i") }}">{{ item.date|date("d M Y") }}</time>
                                </div>
                                {#                    <div class="description shadow p-3 border bg-light shadow-md"><blockquote>{{ item.description|raw }}</blockquote></div>#}
                                <div class="description p-3 bg-light"><blockquote>{{ item.description|raw }}</blockquote></div>
                                {% if item.href is not empty %}
                                    <div class="links text-end">
                                        <a href="{{ item.href }}" target="_blank">Read more...</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="mx-5" />
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            {% include 'tweets.html.twig' only %}
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
